.search-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.search-input {
  flex: 2;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-select {
  flex: 1;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f0f0f0;
}